@model List<Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>
</div>
@if (TempData["AlertMessage"] != null)
{
    <div id="alertContainer" class="alert alert-success">
        <strong>Success! </strong>@TempData["AlertMessage"]
    </div>

    <script>
        // Show the alert immediately when TempData["AlertMessage"] has data
        document.addEventListener("DOMContentLoaded", function () {
            var alertContainer = document.getElementById('alertContainer');
            if (alertContainer) {
                alertContainer.style.display = 'block';
            }

            // Add a timer to hide the alert after 3 seconds
            setTimeout(function () {
                if (alertContainer) {
                    alertContainer.style.display = 'none';
                    TempData["AlertMessage"] = null;
                }
            }, 1000);
        });
    </script>
}

<div class="card">
    <div class="card-body">
        <a asp-action="EmployeeForm" asp-controller="Home" asp-route-EmployeeID="0" class="btn btn-success btn-sm">New Employee</a>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Department</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EmployeeDNI</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.EmployeeLastName</td>
                        <td>@item.Department.DepartmentName</td>
                        <td>
                            <a asp-action="EmployeeForm" asp-controller="Home" asp-route-EmployeeID="@item.EmployeeID" class="btn btn-primary btn-sm">Update</a>
                            <a asp-action="Delete" asp-controller="Employee" asp-route-EmployeeID="@item.EmployeeID" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>

            localStorage.clear();

</script>